---
layout: page
title: Contact
---

This is the Contact page.

{% include youtube.html content="https://www.youtube.com/embed/QZbncSfMKbM" %}

<ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>


{% for lista in site.data.menu.menu %}
    <h2>{{ lista.principal }}</h2>
    <ul>
    {% for entry in lista.members %}
         <li><a href="{{ projeto.link }}">{{ projeto.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

<div>
    <h3>
        Work Inquiry
    </h3>
    <p>
        Let's work together!
    </p>
</div>
<div>
    <a href="/contact.html">Contact Me</a>
</div>
