
.grid>.grid-item {
    padding: 1.5rem;
    font-size: 20px;
    margin-bottom: 20px;
}

.grid-header {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.grid-sidebar-1 {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.grid-content {
    background: lightgrey;
}

.grid-sidebar-2 {
    background-image: url(fbaul1.png);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    max-width: 100vw;
}

@media screen and (min-width: 900px) {
    .grid-header {
        grid-area: header;
    }

    .grid-sidebar-1 {
        grid-area: sid1;
    }

    .grid-sidebar-2 {
        grid-area: sid2;
    }

    .grid-content {
        grid-area: content;
    }

    .grid {
        height: 80vh;
        grid-template:
            'header header header' 100px
            'sid1 content sid2' 1fr;
    }
}