
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item5 {
    grid-area: skill1;
}

.item6 {
    grid-area: skill2;
}

.item7 {
    grid-area: skill3;
}

.grid-container-about {
    display: grid;
    grid-template-areas:
        'menu menu header header header'
        'menu menu main main main'
        'menu menu skill1 skill2 skill3';
    gap: 50px;
    padding: 10px;
    height: 70vh;
}

.about-text {
    font-size: $small-font-size;
}