
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: skills;
}

.grid-container-about {
    display: grid;
    grid-template-areas:
        'menu header header'
        'menu main skills'
        'menu main skills';
    gap: 50px;
    margin: $spacing-unit*2 0;
    grid-template-columns: [first] auto [line2] auto [line3] auto;


    img {
        object-fit: cover;
        border-radius: 8px;
    }
}

.about-text {
    font-size: $small-font-size;
}

.item1,.item2,.item3,.item4 {
    justify-items: start;
}

@media (max-width:700px) {
    .grid-container-about {
        display: grid;
        grid-template-areas:
            'header header header'
            'main main main'
            'skills skills skills';
        margin: $spacing-unit*2 0;
        text-align: center;


        img {
            display: none;
        }
    }
}
