button {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    background-color: $brand-color;
    color: $background-color;
    border: none;
    margin-top: $spacing-unit/2;

    a {
        color: $background-color;
    }
}

button:hover {
    background: #4770a5
}