button {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    background-color: $brand-color;
    color: $background-color;
    border: none;
    margin-top: $spacing-unit;
}

.home-button {
    color: $background-color;
}