button {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    background-color: $brand-color;
    color: $background-color;
    border: none;
    margin-top: $spacing-unit/2;
    transition: width 0.5s;

    a {
        color: $background-color;
    }
}

button:hover {
    background: $background-color;
    width: 300px;
    border: 1px solid $brand-color;

    a {
        color: $brand-color;
    }
}