.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0 100px 0;
}

.skill {
    padding: $spacing-unit;
    width: 25%;
}

.contact-intro {
    text-align: center;
}