body {
    font-family: $base-font-family;
}

h1,
h2 {
    color: black;
    font-weight: bold;
    font-family: $title-font-family;
}

p {
    font-weight: normal;
    font-size: $small-font-size;
    line-height: 30px;
}

.hero {
    background-image: url("background.png");
    text-align: center;
    padding: 100px 20px;
}

.hero p {
    font-size: $spacing-unit;
    font-weight: normal;
    margin: 0;
}

.hero h2 {
    line-height: 1.5;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.grid-item-home {
    padding: 20px;
    font-size: 30px;
    width: 500px;
}

.area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.area-image {
    border-radius: 16px;
    max-width: 500px;
}

@include media-query($on-palm) {
    .area-image {
        display: none;
    }

    .area {
        flex-direction: column;
    }

    .grid-item-home {
        padding: $spacing-unit 0;
        width: auto;
    }
}