$background-color: #EEE;
$primary-color: #57A0D7;
$secondary-color: #7B8794;
$accent-color: #C09E07;
$neutral-one: white;
$neutral-two: #ccc;

.project-title {
    position: fixed;
    top: 20px;
    left: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

section {
    height: 100vh;
    background-image: url(fbaul1.png);
    background-size: cover;
    background-attachment: fixed;
}

.image_2 {
    background-image: url(fbaul2.png);
}

.image_3 {
    background-image: url(fbaul3.png);
}

.image_4 {
    background-image: url(fbaul4.png);
}

.image_5 {
    background-image: url(fbaul5.png);
}

.image_6 {
    background-image: url(fbaul6.png);
}

.image_7 {
    background-image: url(fbaul7.png);
}

.image_8 {
    background-image: url(fbaul8.png);
}

.image_9 {
    background-image: url(fbaul9.png);
}

.image_10 {
    background-image: url(fbaul10.png);
}

.image_11 {
    background-image: url(fbaul11.png);
}