.post-header {
    text-align: center;
    padding-bottom: 10px;

    h1 {
        font-size: $base-font-size * 3;
    }
}


section {
    height: 75vh;
    width: 80vw;
    background-image: url(fbaul1.png);
    background-size: contain;
    background-attachment: fixed;
    margin: auto;
}

.image_2 {
    background-image: url(fbaul2.png);
}

.image_3 {
    background-image: url(fbaul3.png);
}

.image_4 {
    background-image: url(fbaul4.png);
}

.image_5 {
    background-image: url(fbaul5.png);
}

.image_6 {
    background-image: url(fbaul6.png);
}

.image_7 {
    background-image: url(fbaul7.png);
}

.image_8 {
    background-image: url(fbaul8.png);
}

.image_9 {
    background-image: url(fbaul9.png);
}

.image_10 {
    background-image: url(fbaul10.png);
}

.image_11 {
    background-image: url(fbaul11.png);
}