.post-header {
    text-align: center;
    padding-bottom: 10px;

    h1 {
        font-size: $base-font-size * 3;
    }
}


section {
    height: 75vh;
    width: 80vw;
    background-size: contain;
    background-attachment: fixed;
    margin: auto;
}

.image-fbaul_1 {
    background-image: url(fbaul1.png);
}

.image-fbaul_2 {
    background-image: url(fbaul2.png);
}

.image-fbaul_3 {
    background-image: url(fbaul3.png);
}

.image-fbaul_4 {
    background-image: url(fbaul4.png);
}

.image-fbaul_5 {
    background-image: url(fbaul5.png);
}

.image-fbaul_6 {
    background-image: url(fbaul6.png);
}

.image-fbaul_7 {
    background-image: url(fbaul7.png);
}

.image-fbaul_8 {
    background-image: url(fbaul8.png);
}

.image-fbaul_9 {
    background-image: url(fbaul9.png);
}

.image-fbaul_10 {
    background-image: url(fbaul10.png);
}

.image-fbaul_11 {
    background-image: url(fbaul11.png);
}

.image-net_1 {
    background-image: url(netflix1.png);
}

.image-net_2 {
    background-image: url(netflix2.png);
}

.image-net_3 {
    background-image: url(netflix3.png);
}

.image-net_4 {
    background-image: url(netflix4.png);
}

.image-net_5 {
    background-image: url(netflix5.png);
}

.image-net_6 {
    background-image: url(netflix6.png);
}

.image-net_7 {
    background-image: url(netflix7.png);
}

.image-net_8 {
    background-image: url(netflix8.png);
}

.image-net_9 {
    background-image: url(netflix9.png);
}

.image-net_10 {
    background-image: url(netflix10.png);
}

.image-net_11 {
    background-image: url(netflix11.png);
}

.image-net_11 {
    background-image: url(netflix11.png);
}

.image-ap_1 {
    background-image: url(ap1.png);
}

.image-ap_2 {
    background-image: url(ap2.png);
}

.image-ap_3 {
    background-image: url(ap3.png);
}

.image-ap_4 {
    background-image: url(ap4.png);
}

.image-ap_5 {
    background-image: url(ap5.png);
}

.image-ap_6 {
    background-image: url(ap12.png);
}

.image-ap_7 {
    background-image: url(ap15.png);
}

.image-ap_8 {
    background-image: url(ap16.png);
}

.image-ap_9 {
    background-image: url(ap18.png);
}

.image-ap_10 {
    background-image: url(ap20.png);
}


.image-ff_1 {
    background-image: url(ff1.png);
}

.image-ff_2 {
    background-image: url(ff2.png);
}

.image-ff_3 {
    background-image: url(ff3.png);
}

.image-ff_4 {
    background-image: url(ff4.png);
}

.image-ff_5 {
    background-image: url(ff5.png);
}

.image-ff_6 {
    background-image: url(ff6.png);
}

.image-ff_7 {
    background-image: url(ff7.png);
}

.image-ff_8 {
    background-image: url(ff8.png);
}

.image-ff_9 {
    background-image: url(ff9.png);
}

.image-ff_10 {
    background-image: url(ff10.png);
}